.card {
  background: rgb(9, 206, 124);
  height: 300px;
  border-radius: 18px;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  box-shadow: -1px 15px 30px -12px rgb(92, 155, 143);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
